{% extends app.request.isXmlHttpRequest is same as(true) ? 'MinimalCoreBundle:Layout:minimum.html.twig' : "base.html.twig" %}
{% block content %}
<div id="content">
  <div class="row">
    <div class="column small-12">{% block data %}{% endblock %}</div>
  </div>
</div>
{% endblock content %}
